<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Add Character</h1>
    <form action="/characters" method="POST">
        <label for="">Name:</label>
        <input type="text" name="name">

        <label for="">Weapons:</label>
        <input type="text" name="weapons">

        <label for="">Species:</label>
        <input type="text" name="species">

        <label for="">Catchphrase:</label>
        <input type="text" name="catchphrase">

        <label for="">Abilities</label>
        <input type="text" name="abilities">

        <button>Add Character</button>
    </form>
</body>
</html>